.page {
  max-width: 1440px;
  max-height: 100%;
  background-color: #000;
  margin: 0 auto;
  font-family: "Roboto", "Helvetica Neue", "Arial", "sans-serif";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
