.header__form-email {
  background-color: #8E8E98;
  opacity: .2;
  width: 333px;
  height: 50px;
  border-radius: 8px 0px 0px 8px;
  padding: 0;
  padding-left: 16px;
  border: none;
  cursor: pointer;
}

.header__form-email:hover {
  opacity: .3;
}

.header__form-email:focus {
  border: none;
  color: #fff;
  opacity: .3;
  outline: none;
  padding-left: 16px;
}

.header__form-email:active {
  padding-left: 16px;
  color: #fff;
  opacity: .1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.375px;
}
